@import "../../../style/variable";

.warm-up-result {
  height: 100%;
  .intro-container {
    height: ~"calc(100% - 49px)";
    overflow: auto;
    .section {
      position: relative;
      .section-title {
        font-size: @font_title;
        margin-top: 25px;
        color: @color_context;
      }
      .count-circle {
        width: 100%;
        height: 210px;
        text-align: center;
        .answer-word{
          margin-top: -155px;
          .answer-right{
            font-size: 8.3em;
            color: @color_strong;
          }
          .answer-total{
            font-size: 1.5em;
          }
        }
      }
      .count {
        text-align: center;
        line-height: 50px;
        margin-top: 40px;
        > .count-main {
          font-size: 5.0em;
          color: @color_strong;
        }
        > .count-sub {
          font-size: 1.3em;
          color: @color_context;
        }
      }
    }
    .section + .section {
      margin-top: 30px;
    }
  }
}