.backendContent{
  width:100%;
  margin:9px auto;
  overflow:hidden;
  .idx{
    width: 10px;
    display: inline-block;
  }
  .key{
    width: 350px;
    text-align: center;
    display: inline-block;
  }
  .value{
    width: 350px;
    display: inline-block;
  }
  .icon{
    display: inline-block;
    .icon-img{
      height: 16px;
      width: 16px;
      margin-left: 5px;
    }
  }
}


