.backendContent{
  width:100%;
  margin:9px auto;
  overflow:hidden;
  .key{
    width: 350px;
    text-align: center;
    display: inline-block;
  }
  .config-textarea{
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid #cccccc;
    padding: 1%;
    resize: none;
    font-size: 16px;
    overflow-y: auto;
  }
  .value{
    width: 350px;
    display: inline-block;
  }
  .icon{
    display: inline-block;
    .icon-img{
      height: 16px;
      width: 16px;
      margin-left: 5px;
    }
  }
}


