.qrContainer {
  margin: 50px auto 130px;
  .qrImg {
    margin:0 auto;
    display: block;
    width: 220px;
    height: 220px;
    line-height:220px;
    text-align: center;
  }
  .loginTip {
    margin-top: 50px;
    color: #333333;
    font-size: 16px;
    text-align: center;
  }
}
