@import "../../../style/variable";

.plan-container {
  background-color: #fff;
  margin: 0 50px;
  padding-bottom: 25px;
  .plan-content {
    background-color: #fff;
    overflow: hidden;
    .plan-header {
      color: #333;
      font-size: 1.95em;
    }
    .plan-plans {
      margin-top: 30px;
      span {
        color: @color_context;
        font-size: 1.8em;
      }
      .plan-problem-box {
        margin-top: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .plan-problem {
          margin-right: 75px;
          width: 201px;
          overflow: hidden;
          border-radius: 3px;
          cursor: pointer;
          img {
            position: relative;
            border-radius: 3px;
            &:hover {
              top: 2px;
            }
          }
          .plan-problem-desc {
            color: @color_title;
            padding: 4px;
            font-size: 1.5em;
          }
        }
      }
      .plan-tip {
        padding: 20px 15px;
        color: @color_help;
        font-size: @font_context;
      }
      &:before {
        content: "";
        width: 8px;
        height: 28px;
        border-radius: 5px;
        display: inline-block;
        background-color: #55cbcb;
        margin-right: 8px;
        vertical-align: middle;
        margin-top: -8px;
      }
    }
    .plan-splitline {
      height: 1px;
      background-color: #f5f5f5;
      margin-top: 30px;
    }
  }
}
