.plan-container {
  background-color: #fff;
  margin: 0 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  .plan-content {
    background-color: #fff;
    overflow: hidden;
    .plan-header {
      color: #333;
      font-size: 2.6em;
    }
    .plan-plans {
      margin-top: 30px;
      span {
        font-size: 1.9em;
      }
      .plan-problem-box {
        margin-top: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .plan-problem {
          width: 170px;
          overflow: hidden;
          border-radius: 3px;
          cursor: pointer;
          transition: top 2s;
          img {
            position: relative;
            left: -40px;
            border-radius: 3px;
            &:hover {
              top: 2px;
            }
          }
          .plan-problem-desc {
            color: #333;
            padding: 4px;
            font-size: 1.6em;
          }
        }
      }
      &:before {
        content: "";
        width: 8px;
        height: 28px;
        border-radius: 5px;
        display: inline-block;
        background-color: #55cbcb;
        margin-right: 8px;
        vertical-align: middle;
        margin-top: -3px;
      }
    }
    .plan-splitline {
      height: 1px;
      background-color: #f5f5f5;
      margin-top: 30px;
    }
  }
}
