/**
 * 该文件主要用来保存 ViewComponents 中各组件样式
 * @author xfduan
 */
@import "../../../style/variable";

// RISE_HomeIcon
.pc-icon {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  right: 50px;
  cursor: pointer;
  span {
    display: block;
  }
  &.show {
    display: block;
  }
}

//RISE_TitleBar
.title-bar {
  width: ~"calc(100% + 100px)";
  margin: 10px -50px;
  background-color: @color_weak_background;
  font-size: @font_title;
  span {
    padding-left: 50px;
    color: @color_weak;
  }
}

//RISE_BreadCrumbs
.bread-crumbs {
  font-size: 1.8em;
  letter-spacing: 1px;
  position: absolute;
  padding-top: 10px;
  display: inline-block;

  .bread-first-item {
    display: inline-block;
    color: #5FC8D0;
    cursor: pointer;
    text-decoration: underline;
  }
  .bread-items {
    display: inline-block;
    div {
      margin-left: 4px;
      color: @color_title;
      display: inline-block;
    }
  }
}
