/**
 * 该文件主要用来保存 ViewComponents 中各组件样式
 * @author xfduan
 */

@font-size: 1.4em;

// RISE_HomeIcon
.pc-icon {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  right: 50px;
  cursor: pointer;
  span {
    display: block;
  }
}

//RISE_TitleBar
.title-bar {
  width: 100%;
  background-color: #ccc;
  padding-left: 50px;
  font-size: @font-size;
}

