.comment-container {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;

  .commentContent {
    margin-top: 18px;
    color: #666666;
    font-size: 16px;
    margin-left: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .replyContent {
    margin-top: 18px;
    color: #cccccc;
    font-size: 16px;
    margin-left: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .operationArea {
    .functionReplyImg {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      margin-left: 8px;
      cursor: pointer;
      width: 15px;
      height: 15px;
      margin-top: 2px;
    }
    .functionDeleteImg {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      margin-left: 8px;
      cursor: pointer;
      width: 15px;
      height: 15px;
      margin-top: -2px;
    }
    .functionButton {
      display: inline-block;
      color: #55cbcb;
      font-size: 13px;
      cursor: pointer;
    }
    .replyText {
      margin-top: 8px;
      width: 98%;
      resize: none;
      height: 60px;
      font-size: 16px;
      border: 1px solid #dedede;
      &::-webkit-input-placeholder{
        color:#cccccc;
        padding-left:3px;
      }
    }
    .commentBtn {
      margin-right: 10px;
      margin-top: 8px;
      float: right;
      width: 70px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: #FFFFFF;
      background-color: #55cbcb;
      font-size: 16px;
      cursor: pointer;
    }
  }
}


