.toast-container {
  position: fixed;
  z-index: 50000;
  width: 60%;
  margin: 0 20% 0;
  top: 210px;
  text-align: center;
  background: rgba(40, 40, 40, 0.75);
  opacity: 1;
  border-radius: 5px;
  transition: opacity 1s;
  .toast-content {
    color: white;
    font-size: 15px;
    padding: 10px 0;
    div {
      line-height: 2.0em;
    }
  }
}
