@import "./style/variable";

#react-app {
  height: 100vh;
  > * {
    //height: 100%;
  }
}
.container {
  //height: 100%;
  &.has-footer {
    height: ~"calc(100% - 40px)";
  }
  font-family:"思源黑体cn","Helvetica Neue" !important;
}

body {
  background-color:#f5f5f5;
  margin:0;
  padding:0;
}


.button-circle {
  display: inline-block;
  height: @button_circle_height;
  line-height: @button_circle_height;
  color: @color_theme;
  border: 1px solid @color_theme;
  border-radius: @button_circle_height/2;
  padding: 0 @button_circle_height/2;
  margin: 5px 0;
  &.selected {
    background-color: @color_theme;
    color: white;
  }
}

.button-footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: @button_footer_height;
  text-align: center;
  line-height: @button_footer_height;
  background-color: @color_theme;
  color: white;
  > .left {
    display: inline-block;
    width: ~"calc(50% - 1px)";
    border-right: 1px solid white;
  }
  > .right {
    display: inline-block;
    width: 50%;
  }
}

.comment-cell {
  padding: 10px;
  > .comment-avatar {
    display: inline-block;
    vertical-align: top;
    height:40px;
    width:40px;
    > .comment-avatar-img{
      height:40px;
      width:40px;
      border-radius: 20px;
    }
  }
  > .comment-area {
    display: inline-block;
    margin-left: 10px;
    width: ~"calc(100% - 40px - 10px)";
    > .comment-head{
      line-height:13px;
      height:13px;
      > .comment-name {
        display: inline-block;
        color: #666666;
        font-size: 13px;
      }
      > .comment-time{
        margin-left: 5px;
        display: inline-block;
        font-size: 10px;
        line-height:10px;
        color: #999999;
      }
      > .right {
        float: right;
        display: inline-block;
        > .function-icon {
          float: left;
          display: inline-block;
          margin-right: 5px;
          margin-top: 2px;
        }
        > .function-button{
          display: inline-block;
          float: right;
          color: #55cbcb;
          font-size: 13px;
          margin-left: 20px;
          cursor: pointer;
        }
      }
    }
    > .comment-content{
      font-size: 13px;
      width: 100%;
      white-space: pre-wrap;
      word-wrap: break-word;
      line-height: 23px;
      margin-top: 7px;
      pre{
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
    > .comment-replied-content{
      font-size: 13px;
      margin-top:2px;
      color: #999999;
      width: 100%;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

  }
  > .comment-hr{
    height: 1px;
    background-color: #f5f5f5;
  }
}
